/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    background-color: #C996CC;
    
}

body{
    font:16px/28px arial, sans-serif;
    color: #b8b1d4;  
}

.header .judul {
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    color: #0e0631;
    word-spacing: -2px;
    font-family: fantasy;
}

.header{
    position: relative; 
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header::before {    
    content: "";
    background-image: url(gambar/bg.png);
     background-size: cover;
      position: absolute;
      top: -350px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

.header h1 {
    position: relative;
    color: #ffffff;  
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
    padding-bottom: 50px;
  }



.content {
    background-color: #C996CC;
    height: 850px;
    
    color: #ddd4e7;
}
.footer {
    background-color: #08031b;
    height: 39px;
}

.tengah{
    width: 1100px;
    height: 850px;
    margin: auto;
    border-left: 5px solid  #1C0C5B ;
    border-right: 5px solid  #1C0C5B ;
    text-align: justify;
    background-color: #916BBF; 
}

.tengah .main {
    border-right: 5px solid  #1C0C5B ;
    width: 700px;
    float: left;
    height: 850px;
}

.main h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 35px;
}

.main p {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    font-size: 18px;
}

.footer .copyright {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.navigasi ul li  {
    display: inline-block;
    padding: 5px;
    padding-right: 30px;
    padding-left: 20px;
    
}

.navigasi ul {
    padding-left: 20px;
    padding-top: 10px;
    
}

.navigasi ul li a {
    
    text-decoration: none;
    color: #a198c2;
    font-size: 20px;
}

.navigasi ul li a:hover{
    background-color: #1e114e;
    color: white;
}

.navigasi {
    height: 60px;
    background-color: #08031b;
}

.sidebar {
  width: 360px;
  float: right;
  padding-right: 18px;
  padding-top: 30px;
}

.sidebar h3 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.sidebar img {
    float: left;
    padding-right: 10px;
}

.sidebar p {
   line-height: 25px;
}

.sidebar ul li {
    display: inline-block;
}

.sidebar, .follow{
    padding-top: 50px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }